* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    height: 75vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;

    scroll-behavior: smooth;
}

/* HEADER */

header {
    position: relative;

    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;

    height: 100px;
    padding: 0 40px;

}


.cabanas{
    position: relative;
    width: 800px;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
}

.container-imagens{
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    
}

.imagem{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;

    opacity: 0;
    transition: opacity 2s ease;
}

.imagem.ativa{
    opacity: 1;
}

.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;

    z-index: 10;
}

.prev{
    left: 10px;
}

.next{
    right: 10px;
}


.logo{

    z-index: 2;
}
.logo img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* NAV */

nav {
    position: fixed;

    top: 20px;
    right: 100px;

    display: flex;
    align-items: center;
    gap: 30px;

    background-color: rgb(245, 255, 247);

    padding: 12px 25px;
    border-radius: 12px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;

    transition: 0.3s;
}

nav a:hover {
    color: #0077ff;
}


.middle {
    height: calc(100vh - 100px);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    color: white;
}

.middle h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.middle p {
    font-size: 22px;
}

/* SETA */

.scroll-down {
    position: absolute;

    bottom: 30px;
    left: 50%;

    transform: translateX(-50%);

    font-size: 40px;
    color: white;

    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }

    50% {
        transform: translateX(-50%) translateY(10px);
    }
}
.card{
    width: 250px;
    border-radius: 15px solid 2px;
    transition: 0.3s ease;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    margin-left: auto;
    padding: 20px 20px;
    background-color: white;

    opacity: 0;

    transform: translateX(20px);
    
    
}
.card.visible{

    opacity: 1;

    transform: translateY(0);
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
footer{
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-reserva{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-radius: 8px;
    transition: 1s;
    border: none;
}
.btn-reserva:hover{
    background-color: #0077ff;
    color: white;
    transform: translateY(-5px);

}